* {
  box-sizing: border-box;
}

body {
  font-family: cursive;
  text-align: center;
}

img {
  position: fixed;
  right: 15px;
  width: 25%;
}

.pixelParent {
  border: none;
  float: left;
  padding: 0;
  margin: 0;
}

.pixelChild {
  border: 3px solid black;
  float: left;
  padding: 0;
  margin: 0;
}

.grid {
  position: relative;
  padding: 0;
  margin: 40px auto;
  background-color: white;
}

.palette {
  position: fixed;
  left: 150px;
  width: 120px;
  border: none;
  margin-top: 100px;
}

.colorButton {
  height: 50px;
  width: 60px;
  float: left;
  border: 1px solid black;
  box-shadow: none;
}

.colorName {
  height: 50px;
  width: 60px;
  float: left;
  border: none;
  font-family: cursive;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 50px;
}
