* {
  box-sizing: border-box;
}

body {
  font-family: cursive;
  text-align: center;
}

img {
  width: 25%;
}

.pixelParent {
  border: none;
  float: left;
  padding: 0;
  margin: 0;
}

.pixelChild {
  border: 3px solid black;
  float: left;
  padding: 0;
  margin: 0;
}

#grid {
  padding: 0;
  background-color: white;
}

#palette {
  width: 120px;
  border: none;
  margin-top: 100px;
}

.colorButton {
  height: 50px;
  width: 60px;
  border: 1px solid black;
  box-shadow: none;
}
